<?xml version="1.0"?>
<configuration>
  <connectionStrings>
     <!--<add name="HMSConnectionString1" connectionString="Data Source=SRV184e741f5\sqlserver2008;Initial Catalog=GFC;User Id=sa;Password=Server123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" xmlns=""/>
    <add name="HMSConnectionString" connectionString="Data Source=SRV184e741f5\sqlserver2008;Initial Catalog=GFC;User Id=sa;Password=Server123;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio Express&quot;" xmlns=""/>-->
  <!--<add name="HMSConnectionString1" connectionString="Server=SRV184e741f5\sqlserver2008;UID=sa;PWD=Server123;Database=GFC;Max Pool Size=100;Pooling=true;"/>
  <add name="HMSConnectionString" connectionString="Server=SRV184e741f5\sqlserver2008;UID=sa;PWD=Server123;Database=GFC;Max Pool Size=100;Pooling=true;"/>-->
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="CustomHeader" value="CustomHeader" />
      </customHeaders>
    </httpProtocol>
    <!--<modules>
      <add name="CustomModule" type="Samples.CustomModule" preCondition="managedHandler" />
    </modules>-->
    <defaultDocument>
      <files>
        <add value="LoginPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" optimizeCompilations="true"  targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="150000" maxRequestLength="1048576"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/LoginPage.aspx" timeout="2880"/>
    </authentication>-->


    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->

    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>-->
    <customErrors mode="RemoteOnly"  defaultRedirect="ErrorShow.aspx">
      <error statusCode="403" redirect="ErrorShow.aspx" />
      <error statusCode="404" redirect="ErrorShow.aspx" />
    </customErrors>
    <!--<profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>-->

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>

    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!--<add key="ConnectionString" value="Data Source=208.91.198.59;Initial Catalog=gfcdemo;User ID=gfcdemo;password=gfcdemo2014##;timeout=0;"/>-->

<add key="ConnectionString" value="Server=rcplserver;UID=sa;PWD=Server123;Database=FAS_ANKURAN;Max Pool Size=100;Pooling=true;"/>
    <!--<add key="ConnectionString" value="Server=SRV184e741f5;UID=sa;PWD=Server123;Database=FASANKURAN;Max Pool Size=100;Pooling=true;"/>-->
    <!--GFC-Testing      GFC_161114 -->
    <!--<add key="ConnectionString"  value="Data Source=192.168.10.6\SQLEXPRESS;Initial Catalog=GFC;Persist Security Info=True;User ID=sa;Password=Server123;Timeout=200"/>-->
  
      <!--<add key="ConnectionString" value="Data Source=DEMO\MSSQLSERVER2008;Initial Catalog=GFC_WEB;Integrated Security=True; timeout=0"/>-->
    <add key="group" value="DIALYSIS"/>
    <add key="subgroup1" value="CHEMICAL ITEM"/>
    <add key="subgroup2" value="DISPOSABLE ITEM"/>
    <add key="Expirydate" value="90"/>
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
